<!-- LOGIN  -->
<!DOCTYPE html>
<html>
<head>
	<title>TCC Blog</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
        <h2>TCC Blog</h2>
        <h5>Welcome!!!</h5>
        <P>Please enter your Email and Password</p>

            <form action="/" method='post'>
                <p>Email: <input type="email" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <input type="submit" value="Click to Login">
        </form>

            <h4> New User? <a href="/signup"> Click Here</a></h4>

</body>
</html>

